@model Person
@{
    ViewData["Title"] = "Details";
}

<h1>Person Details</h1>

<div class="row rowPersonView bg-secondary text-black">
    <div class="col-4">Name</div>
    <div class="col-4">PhoneNumber</div>
    <div class="col-4">City</div>
</div>
<div class="row colPersonView mb-3 text-white">
    <div class="col-4">@Model.Name</div>
    <div class="col-4">@Model.PhoneNumber</div>
    <div class="col-4">@Model.CityName</div>
</div>

<a asp-controller="People" asp-action="Person" class="btn btn-secondary mb-2">Back to the list of people</a>
<br />

<a class="btn btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@Model.PersonId">Delete</a>

<a asp-action="Edit" asp-controller="People" asp-route-id="@Model.PersonId" class="btn btn-warning">Edit</a>